<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/default.css" />
  <link rel="stylesheet" href="/assets/css/bw.css" />
</head>
<body>
  <div id="page">
    <div id="logo"><h1><a href="/">alxlit</a></h1></div>
    <div id="nav">
      <ul>
      {% for p in site.pages %}
      <li class="{% if p.url == page.url %}active{% endif %}">
	<a href="{{ p.url }}">{% if p.nav_title %}{{ p.nav_title }}{% else %}{{ p.title }}{% endif %}</a>
      </li>
      {% endfor %}
      </ul>
    </div>
    <div id="content">
      <div>{{ content }}</div>
    </div>
    <div id="footer">
      <div></div>
    </div>
  </div>
</body>
